.hero-text_customer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 80%;
    width: 70%;
    max-width: 600px;
    padding: 30px;
    
    text-align: center;
    background-color: #e1d5bc;
    color: #21414a;
}


.hero-text_customer .form{
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    text-align: center;
}

.hero-text_customer .group{
    margin-bottom: 15px;
    text-align: center;
}

.hero-text_customer .group .label{
    display: block;
    position: inherit;
    
}

.hero-text_customer .group .label,
.hero-text_customer .group .button
{
    text-transform: uppercase;
}

.hero-text_customer .group .label
{
    font-size: 12px;
}
.hero-text_customer .group .label,
.hero-text_customer .group .input
{
    color: #47494a;
}

.hero-text_customer .group .label,
.hero-text_customer .group .input,
.group .button
{
    position: relative;
}

.group .button {
    color: #ffffff;
    
    
}

.hero-text_customer .group .input,
.group .button {
  border:#47494a solid;
  width: 30%;
  padding: 10px 10px;
  border-radius: 25px;
  background: rgba(255, 255, 255, .1);
}

.hero-text_customer .group .label,
.hero-text_customer .group .label_inside{
  color: #47494a;
  font-size: 15px;


}
.hero-text_customer .group .label_inside{
    padding: 5px;
}

.group .button {
  background: #21414a;
  width: 35%;
}


input[type=radio] { 
    accent-color: #47494a
}

.input {
    padding: 10px 10px;
    border-radius: 25px;
    font-family: 'Segoe UI', sans-serif;
    background: rgba(225, 213, 188, 0.20);
    border:#47494a solid;
}