.hero-text_sitter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 80%;
    width: 70%;
    max-width: 600px;
    max-height: 480px;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 40px;

    

    text-align: center;
    background-color: #e1d5bc;
    color: #21414a;
}

.dual-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label, .button {
    text-transform: uppercase;
}

.label, .input, .check-text, .multiselect{
    color: #47494a;
}

.button {
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 15px 20px;
}

.input, .button {  
  border-radius: 25px;
  background: rgba(255, 255, 255, .1);
}

.label {
    font-size: 12px;
}

.button {
    background: #21414a;
}

.input {
    font-family: 'Segoe UI', sans-serif;
    padding: 10px 10px;
}

.check-text {
    font-size: 14px;
    
}

input[type="checkbox"] {
    background-color: rgba(255, 255, 255, .1);
}


.input, .multiselect {
    border:#47494a solid;
}

.multiselect {
    padding: 5px 15px;
    border-radius: 25px;

    background: rgba(255, 255, 255, .1);
    overflow: auto;
}

/* width */
.multiselect::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
.multiselect::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
.multiselect::-webkit-scrollbar-thumb {
    background: #21414a; 
    border-radius: 10px;
}
  
