.hero-text_customer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 80%;
    width: 70%;
    max-width: 600px;
    padding: 50px;
    
    text-align: center;
    background-color: #e1d5bc;
    color: #21414a;
}


.hero-text_customer .form{
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    text-align: center;
}

.hero-text_customer .group{
    margin-bottom: 15px;
    text-align: center;
}

.hero-text_customer .group .label,
.group .button{
    display: block;
    position: inherit;
    
}

.hero-text_customer .group .label,
.hero-text_customer .group .input,
.hero-text_customer .group .input1
{
    color: #47494a;
}

.hero-text_customer .group .label,
.hero-text_customer .group .input,
.hero-text_customer .group .input1,
.group .button
{
    position: relative;
}

.group .button {
    color: #ffffff;
    position: absolute;
    
}

.hero-text_customer .group .input,
.hero-text_customer .group .input1,
.group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, .1);
}

.hero-text_customer .group .label,
.hero-text_customer .group .label_inside{
  color: #47494a;
  font-size: 12px;

}

.group .button {
  background: #21414a;
}




  
