header {
    background-color: #21414a;
    color: #bbc4c7;
    text-align: center;
    border-radius: 4px;
}

.Title{
    padding-top: 5px;
    font-size: larger;
}


.topnav a{
    display: inline-block;
    color: #bbc4c7;
    padding: 10px 20px;
    text-decoration: none;
}

.topnav a:hover{
    color: #fbfcfc;
}

.topnav a.active{
    color: #f6da89;
}



body{
    background-color: #e1d5bc;
    font-family: 'Segoe UI', sans-serif;
}



.homepage .topnav{
    background-color: #21414a; 
}


.hero-img{    
    background-image: url("pet-owner.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 550px;
    background-position: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.hero-text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 80%;
    width: 70%;
    max-width: 600px;
    padding: 50px;   
    
    text-align: center;
    background-color: #e1d5bc;
    color: #21414a;
}
.hero-text_customer{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 80%;
    width: 70%;
    max-width: 600px;
    padding: 50px;   
    padding-top: 30px;
    padding-bottom: 50px;
    
    text-align: center;
    background-color: #e1d5bc;
    color: #21414a;
}


.text-content{
    background-color: #f3ecdd;
    color: #21414a;
    padding: 20px;
    margin: 15px;
    border-radius: 4px;   
}

.two-cols {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.btn{
    border: 2px solid #c17b6d;
    border-radius: 8px;
    padding: 16px 32px;
    margin-top: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    
    background-color: #c17b6d;
    color: #f3ecdd;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.btn:hover{
    color: #c17b6d;
    border: 2px solid #c17b6d;
    background-color: #f3ecdd;
}

#form{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

#left{
    text-align: left !important;
}

#right {
    text-align: left !important;
}

#submit{
    position: relative;
    left: 100px;
    top: 15px;
}



.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:#fff;
  
}

.login-html{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0.8;
    width: 70%;
    max-width: 600px;
    padding: 50px;   
  
    text-align: center;
    background-color: #e1d5bc;
    color: #21414a;
    
}

  .login-html .sign-in-htm,
  .login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
  }


  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check{
    display:none;
  }


  .login-html .tab,
  .login-form .group .label,
  .login-form .group .button{
    text-transform:uppercase;
  }


  .login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
  }

  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab{
    color:#21414a;;
    border-color:#21414a;;
  }

  .login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
  }
  .login-form .group{
    margin-bottom:15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
  }
  .login-form .group .input,
  .login-form .group .button{
    border: none;
    padding:15px 20px;
    border-radius:25px;
   
    background:rgba(255,255,255,.1);
  }
  
  .login-form .group .label{
    color:#aaa;
    font-size:12px;
    
    
  }
  .login-form .group .button{
    background: #21414a;
    
  }
  .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
  }
  .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
  }
  .login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
  }
  .login-form .group .check:checked + label{
    color:#21414a;;
  }
  .login-form .group .check:checked + label .icon{
    background:#21414a;
  }
  .login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
  }
  .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
  }
  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
  }
  
  .hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
  }
  .foot-lnk{
    text-align:center;
    
  }

  #pass{
    color:#21414a;
    text-decoration: none;
}

